<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paragraph Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="header-container">
        <a href="{{ url_for('index') }}"><h1 id="title">Paragraph Generator</h1></a>
    </div>
    <div id="main-container">
        <div class="container" id="input-container">
            <form action="/generate" method="POST">
                <h3 class="prompt-title" id="input-prompt"> Prompt: </h3>
                <label>
                    <input class="user-input" name="prompt" type="text" placeholder="Question/Prompt" value="{{ prompt_value }}"></input>
                </label>
                <h3 class="prompt-title" id="input-keyword"> Keyword(s): </h3>
                <label>
                    <input class="user-input" name="keywords" type="text" placeholder="Keyword(s) for Answer, Separated by Commas" value="{{ keywords_value }}"></input>
                </label>
                <br/>
                <button id="generate-btn" class="btn" type="submit">Generate</button>
            </form>
        </div>
        <div class="container" id="output-container">
            {% autoescape false %}
                {{ output_content }}
            {% endautoescape %}
        </div>
    </div>
</body>
</html>